.title-banner {
      font-family: 'Lato', sans-serif;
      color: white;
      background-color: rgb(33, 30, 133);
      text-align: center;
      font-size: 200%;
      padding: 15px;
      margin: 0px;
      font-weight: bold;
      position: relative;
}

.title-banner h1 {
      margin: 0px;
      text-transform: uppercase;
}

.title-banner .buttonTab {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
}

.title-banner .buttonTab button {
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 9px;
      background-color: white;
      color: rgb(33, 30, 133);
      font-size: 15px;
      padding: 4px 9px;
      transition: all 0.2s ease-in;
      text-transform: lowercase;
      margin: 0px 5px;

}

.title-banner .buttonTab button:hover {
      background-color: teal;
      color: white;
}

/*single grey box*/

.buttonContainer {
      display: flex;
      justify-content: center;
      width: 100%;
}

.tabContainer .buttonContainer .buttonTab {
      color: darkslategray;
      /* width: 20%; */
      display: flex;
      justify-content: center;
      width: auto;
      align-items: center;
      flex-direction: column;
      padding: 10px 30px;
}
.tabContainer .buttonContainer .buttonTab .buttonIcon img {
    width: 15px;
    height: auto;
}
.tabContainer .buttonContainer .buttonTab:hover {
      background-color: #d7d4d4;
      
      cursor: pointer;
}

.tabContainer .buttonContainer .buttonTab button {
      /* height: 50px; */
      border: none;
      outline: none;
      background-color: transparent;
      color: darkslategray;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 12px;
      /* background-color: #eee; */
      text-decoration: none;
      text-transform: lowercase;
      transition: 0.1s all ease-in;
      padding: 0px 0px;
      /*text color*/
}

/*single grey box hover*/

.tabContainer .buttonContainer button:hover {
      /* opacity: 0.8; */
      /* background-color: #d7d4d4; */
}

body {
      /* padding: 5px; */
      margin: 0;
      background-image: url("street1.jpg");
      font-family: Arial, Helvetica, sans-serif;
      /*
    background-repeat: no-repeat;
    background-size: 100% 100%;
    */
}

/*effect of text in class box effect*/

.box h3 {
      text-align: center;
      position: relative;
      color: rgb(59, 59, 59);
      top: 40px;
}

.box {
      width: 70%;
      height: 370px;
      opacity: 0.9;
      margin: 100px auto;
      border-radius: 1.5%;
      /*soft corners*/
      background: rgb(255, 232, 232);
}

#homepage.box {
      height: 385px;
      margin-top: 100px;
      margin-bottom: 20px;
      border: 2px solid rgb(214, 189, 189);
      top: 0px;
}

.box p {
      text-align: right;
      position: relative;
      top: 20px;
      margin-right: 2.5%;
      margin-left: 15%;
}