<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script>

        $(document).ready(function () {
            var client = mqtt.connect('mqtt://test.mosquitto.org:8080')
            client.on('connect', function () {
                console.log('connected');
            })
            $('#submit').click(function () {
                var postData = JSON.stringify({
                    time: new Date().getTime(),
                    coords: {
                        lat: Math.ceil((Math.random() * 10) % 9),
                        lng: Math.ceil((Math.random() * 10) % 9),
                    }
                });
                client.publish('alert/initial-alert', postData);

            })
        });
    </script>
</head>

<body style="display:flex;justify-content: center;align-items: center">
    <input type="button" value="create alert" id="submit">
</body>

</html>