<html>

<head>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script>
        $(document).ready(function () {
            $('#submit').click(function () {
                var postData = JSON.stringify({
                    time: new Date().getTime(),
                    coords: {
                        lat: Math.ceil((Math.random() * 10) % 9),
                        lng: Math.ceil((Math.random() * 10) % 9),
                    }
                });

                $.ajax({
                    type: "POST",
                    url: "http://localhost:3000/alert/process-create-alert",
                    data: {
                        postData
                    },
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    dataType: "json"


                }).done(function(msg){
                    console.log(msg)
                })


            })
        });
    </script>
</head>

<body style="display:flex;justify-content: center;align-items: center">
    <input type="button" value="create alert" id="submit">
</body>

</html>