<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="./css/styleTabs.css">
</head>
<!-- uses bootstrap.css for styling -->
<body>
    <div class="title-banner">
        <h1 class="title">Women In Danger</h1>
        <div class="buttonTab">
          <button onclick="window.open('login.html', '_self');">Log In</button>
          <button onclick="window.open('signup.html', '_self');">Sign Up</button>
        </div>
      </div>
    
      <div class="tabContainer">
        <div class="buttonContainer">
          <div class="buttonTab">
            <span class="buttonIcon"><img src="assets/svgs/homeIcon.svg" ></span>
            <button onclick="window.open('tabs.html', '_self');">Home Page</button>
          </div>
          <div class="buttonTab">
              <span class="buttonIcon"><img src="assets/svgs/infoIcon.svg" ></span>
            <button onclick="window.open('about.html', '_self');">About</button>
          </div>
          <div class="buttonTab">
              <span class="buttonIcon"><img src="assets/svgs/alertIcon.svg" ></span>
            <button onclick="window.open('alerts.html', '_self');">Danger Alerts</button>
          </div>
          <!-- <div class="buttonTab">
            <button onclick="window.open('login.html', '_self');">Log In</button>
          </div>
          <div class="buttonTab">
            <button onclick="window.open('signup.html', '_self');">Sign Up</button>
          </div> -->
        </div>
      </div>

    <div class="box">
        <h3>
            Women's safety is crucial to ensure citizen's welfare 
            <br>
            
            <br>
            This website displays alerts of women in danger in realtime
            <br> <br> <br>

            <img src="info.png" alt="Alert" width="20px" height="20px">
            How? <br>

            Danger alerts are received from users who install the women safety application on their smartwatches.
            <br> <br> <br>

            <img src="alert.png" alt="Alert" width="20px" height="20px">
            Alerts: <br>
            Fully red circles indicate a danger alert that is confirmed by the woman
            <br>
            Hollow red circles in indicate a danger alert that is not confirmed by the woman
        </h3>
    </div>
</body>

</html>